*{padding:0;margin:0;box-sizing:border-box;}
html{
}

body{
    background-color: #fff;
}
canvas{
    display: block;
}
.icons{
    touch-action: manipulation;
    width:100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
svg{
    width:30px;
    height:30px;
    display: block;
}
.active > .pen{
    transform:scale(1.2);
    display: block;
    transition:0.1s linear;
}
.active > .eraser{
    display: block;
    transform:scale(1.2);
    transition:0.1s linear;
}
